# Take Home Test - Backend - Data Processing Task

A na√Øve calculation of the impact of a recipe involves multiplying the weight of each ingredient by the impact per kilogram of that ingredient.

However, we don't necessarily have direct impacts for every ingredient. For instance, there might be scarce academic literature on the impact of Jerusalem artichokes. However, since Jerusalem artichokes are root vegetables, and we have impact data for other root vegetables, we can produce a best estimate for the impact of a generic root vegetable and use that value as a proxy for the impact of Jerusalem artichokes.

To model this, we have created what we call a "food class hierarchy", which is just an n-ary tree. When we want to retrieve the impact for a given ingredient, we first look at its corresponding food class. If that food class has an impact, we use it. Otherwise, we move to its parent food class and repeat the process. We continue this recursion up the tree until we reach a food class without a parent, in which case we've reached a root node. If this node has no impact, then we can't recurse and we've failed to retrieve an impact and should throw an error.

The other issue is ingredient names are entered by users and must be matched to food classes. In some cases, we're lucky and the ingredient name entered by the user matches exactly with the name of a food class. But often this is not the case. As such, when matching names, we ignore case, punctuation and word order. For example, the ingredient `tomatoes, plum (Chopped)` would match with the food class `Chopped Plum Tomatoes`.

## Step 0: Import Modules
- **`pandas`**: Data manipulation library in Python used to handle data in tabular form with DataFrames.
- **`re`**: Module for working with regular expressions used to process text by matching patterns.
- **`os`**: Provides functions to interact with the operating system. Here, it's used to access file paths dynamically.

In [1]:
import pandas as pd
import re
import os

## Step 1: Load Data
Reads the CSV files into two DataFrames.

In [2]:
food_classes_df = pd.read_csv('food_classes.csv')
recipes_df = pd.read_csv('recipes.csv')

In [3]:
food_classes_df.head()

   ID           Name  Impact / kg  Parent ID
0   1     Beef Mince          NaN        2.0
1   2           Beef     2.649402        3.0
2   3  Ruminant Meat     5.508226        4.0
3   4           Meat     1.310414        NaN
4   5     Pork Mince          NaN        6.0

In [4]:
recipes_df.head()

   Recipe ID          Recipe Name Ingredient Name  Ingredient Weight / kg
0          1  Spaghetti Bolognese      beef mince                    0.25
1          1  Spaghetti Bolognese      Pork Mince                    0.25
2          1  Spaghetti Bolognese         Carrots                    0.10
3          1  Spaghetti Bolognese          Onions                    0.25
4          1  Spaghetti Bolognese          Celery                    0.10

In the code challenge this step was performed as a function which gets the directory of the current Python file, allowing relative paths for accessing files. Then, read the files.

In [5]:
def load_data() -> pd.DataFrame:
    current_dir = os.path.dirname(__file__)
    food_classes_df = pd.read_csv(os.path.join(current_dir, 'food_classes.csv'))
    recipes_df = pd.read_csv(os.path.join(current_dir, 'recipes.csv'))
    return food_classes_df, recipes_df

## Step 2: Name normalisation
The following function standardises a string by removing punctuation, converting it to lowercase, and sorting the words alphabetically. This allows a closer name matching when the user input does not match exactly the name of a food class.

In [6]:
def normalize_name(name: str) -> str:
    name = re.sub(r'[^\w\s]', '', name)  # Remove any characters that aren't word characters
    name = name.lower()  # Convert to lowercase
    name = ' '.join(sorted(name.split()))  # Arrange words in alphabetical order and join
    return name

Here is an example on how the function works with a string.

In [7]:
print(normalize_name("Chicken Breast"))     
print(normalize_name("Spaghetti Bolognese!"))  
print(normalize_name("Eggplant Parmesan."))
print(normalize_name("pork, loin steak"))

breast chicken
bolognese spaghetti
eggplant parmesan
loin pork steak

Here is an example on how to use the function with the values of a specific column in a DataFrame. The `apply` method was used to apply the function to each element in that column.

In [8]:
recipes_df_dummy = recipes_df.copy()
recipes_df_dummy['Normalized Ingredient Name'] = recipes_df_dummy['Ingredient Name'].apply(normalize_name)
recipes_df_dummy.head()

,Recipe ID,Recipe Name,Ingredient Name,Ingredient Weight / kg,Normalized Ingredient Name
0,1,Spaghetti Bolognese,beef mince,0.25,beef mince
1,1,Spaghetti Bolognese,Pork Mince,0.25,mince pork
2,1,Spaghetti Bolognese,Carrots,0.10,carrots
3,1,Spaghetti Bolognese,Onions,0.25,onions
4,1,Spaghetti Bolognese,Celery,0.10,celery

## Step 3: Food Classes Hierarchy
The code sets up an n-ary tree structure to represent the "food class hierarchy". Here is a breakdown of the approach and logic:
1. Data Structure for Food Classes: The `FoodClass` class is created to store details about each food class, including an `id`, `name`, `impact`, and `parent_id`. A dictionary (`food_classes`) maps each food class ID to a FoodClass object. This allows us to easily access any food class by its ID.
2. Building the Food Class Hierarchy: The `build_food_class_hierarchy` function iterates over the DataFrame containing food classes. For each row, it creates a FoodClass object and adds it to the food_classes dictionary. This dictionary represents the hierarchy as an n-ary tree, where each food class is linked to its parent class via the `parent_id` attribute.

In [ ]:
food_classes_df_dummy = food_classes_df.copy()

In [10]:
# Class to represent a Food Class
class FoodClass:
    def __init__(self, id: int, name: str, impact: float, parent_id: int):
        self.id = id
        self.name = name
        self.impact = impact
        self.parent_id = parent_id

# Function to build the food class hierarchy
def build_food_class_hierarchy(df: pd.DataFrame) -> dict:
    food_classes = {}
    for _, row in df.iterrows():
        food_classes[row['ID']] = FoodClass(row['ID'], row['Name'], row['Impact / kg'], row['Parent ID'])
    return food_classes

The next cell uses the `build_food_class_hierarchy` function to build the hierarchy and then print the resulting dictionary of `FoodClass` instances.

In [11]:
food_classes = build_food_class_hierarchy(food_classes_df_dummy)
print('\nFood Class Hierarchy:')
for class_id, food_class in food_classes.items():
    print(f'ID: {food_class.id}, Name: {food_class.name}, Impact {food_class.impact}, Parent ID: {food_class.parent_id}')

Food Class Hierarchy:
ID: 1, Name: Beef Mince, Impact nan, Parent ID: 2.0
ID: 2, Name: Beef, Impact 2.649402237, Parent ID: 3.0
ID: 3, Name: Ruminant Meat, Impact 5.508225903, Parent ID: 4.0
ID: 4, Name: Meat, Impact 1.310413655, Parent ID: nan
ID: 5, Name: Pork Mince, Impact nan, Parent ID: 6.0
ID: 6, Name: Pork, Impact nan, Parent ID: 7.0
ID: 7, Name: Pork & Poultry, Impact 4.548881992, Parent ID: 4.0
ID: 8, Name: Carrots, Impact 9.811717734, Parent ID: 9.0
ID: 9, Name: Root Vegetables, Impact 7.781639031, Parent ID: 10.0
ID: 10, Name: Vegetables, Impact 3.161091821, Parent ID: nan
ID: 11, Name: Onions, Impact 9.000471107, Parent ID: 12.0
ID: 12, Name: Onions and Leeks, Impact 4.764500409, Parent ID: 13.0
ID: 13, Name: Bulbs, Impact 7.706728936, Parent ID: 10.0
ID: 14, Name: Celery, Impact 0.2183862344, Parent ID: 15.0
ID: 15, Name: Stem Vegetables, Impact 5.441168674, Parent ID: 10.0
ID: 16, Name: Garlic, Impact 4.436081072, Parent ID: 13.0
ID: 17, Name: Rosemary, Impact nan, Parent ID: 18.0
ID: 18, Name: Herbs, Impact 2.102187648, Parent ID: 19.0
ID: 19, Name: Leaves, Impact 4.161051102, Parent ID: 10.0
ID: 20, Name: Olive Oil, Impact 8.084466052, Parent ID: 21.0
ID: 21, Name: Oils, Impact nan, Parent ID: nan
ID: 22, Name: Plum Tomatoes, Impact nan, Parent ID: 23.0
ID: 23, Name: Tomatoes, Impact 1.048766001, Parent ID: 24.0
ID: 24, Name: Fruit Vegetables, Impact 2.404733034, Parent ID: 10.0
ID: 25, Name: Water, Impact 4.992903259, Parent ID: 29.0
ID: 26, Name: Red Wine, Impact nan, Parent ID: 27.0
ID: 27, Name: Wine, Impact 7.828728036, Parent ID: 28.0
ID: 28, Name: Alcoholic Drinks, Impact 0.9766256099, Parent ID: 29.0
ID: 29, Name: Drinks, Impact 0.2700475962, Parent ID: nan
ID: 30, Name: Spaghetti, Impact nan, Parent ID: 31.0
ID: 31, Name: Pasta, Impact nan, Parent ID: 32.0
ID: 32, Name: Pasta and Noodles, Impact 7.57055912, Parent ID: 33.0
ID: 33, Name: Prepared Meals, Impact nan, Parent ID: nan
ID: 34, Name: Chickpeas, Impact 9.761070306, Parent ID: 35.0
ID: 35, Name: Pulses, Impact 2.20917018, Parent ID: 36.0
ID: 36, Name: Legumes, Impact 0.5138533765, Parent ID: 10.0
ID: 37, Name: Coriander, Impact 5.966025323, Parent ID: 18.0
ID: 38, Name: Parsley, Impact 0.9610959263, Parent ID: 18.0
ID: 39, Name: Red Onions, Impact nan, Parent ID: 11.0
ID: 40, Name: Lemon Juice, Impact nan, Parent ID: 41.0
ID: 41, Name: Lemons, Impact 8.5744324, Parent ID: 42.0
ID: 42, Name: Citrus, Impact 1.122107528, Parent ID: 43.0
ID: 43, Name: Fruit, Impact 4.408172499, Parent ID: nan
ID: 44, Name: Harissa, Impact nan, Parent ID: 45.0
ID: 45, Name: Spices, Impact 3.882260797, Parent ID: 46.0
ID: 46, Name: Spices and Seasonings, Impact nan, Parent ID: nan
ID: 47, Name: Double Cream, Impact 1.29342412, Parent ID: 48.0
ID: 48, Name: Cream, Impact 4.027040964, Parent ID: 49.0
ID: 49, Name: Dairy, Impact nan, Parent ID: nan
ID: 50, Name: Mascarpone, Impact 6.404843943, Parent ID: 51.0
ID: 51, Name: Cheese, Impact 4.662044875, Parent ID: 49.0
ID: 52, Name: Marsala, Impact 2.842286935, Parent ID: 53.0
ID: 53, Name: Spirits, Impact nan, Parent ID: 28.0
ID: 54, Name: Golden Caster Sugar, Impact nan, Parent ID: 55.0
ID: 55, Name: Caster Sugar, Impact nan, Parent ID: 56.0
ID: 56, Name: Sugar, Impact 4.546019718, Parent ID: 57.0
ID: 57, Name: Seasonings, Impact nan, Parent ID: 46.0
ID: 58, Name: Coffee Granules, Impact nan, Parent ID: 59.0
ID: 59, Name: Coffee, Impact 4.910862654, Parent ID: 60.0
ID: 60, Name: Hot Drinks, Impact nan, Parent ID: 29.0
ID: 61, Name: Lady Fingers, Impact nan, Parent ID: 62.0
ID: 62, Name: Biscuits, Impact nan, Parent ID: 63.0
ID: 63, Name: Snacks, Impact 2.496939229, Parent ID: nan
ID: 64, Name: Dark Chocolate, Impact 7.423826904, Parent ID: 65.0
ID: 65, Name: Chocolate, Impact 8.34796857, Parent ID: 66.0
ID: 66, Name: Bars, Impact nan, Parent ID: 63.0
ID: 67, Name: Cocoa Powder, Impact nan, Parent ID: 68.0
ID: 68, Name: Cocoa Beans, Impact 2.958116399, Parent ID: 69.0
ID: 69, Name: Seeds, Impact 0.5706210838, Parent ID: 70.0
ID: 70, Name: Nuts and Seeds, Impact 3.171540022, Parent ID: nan
ID: 71, Name: Tinned Plum Tomatoes, Impact nan, Parent ID: 22.0

#### Why not a `DataFrame`?
Using a class like FoodClass rather than just a DataFrame provides several benefits, especially when representing a hierarchical structure, such as a tree. Here are some reasons why this approach is advantageous:
1. **Encapsulation of Data and Behaviour**: The `FoodClass` class allows to encapsulate not only data but also methods that operate on this data. For example, if I wanted to add a specific behaviour or method related to a `FoodClass`, this can be done within the class. This organisation keeps related data and behaviours together, improving the readability and maintainability.
2. **Ease of Recursion and Hierarchical Structure**: A class-based structure is easier to manage when dealing with parent-child relationships. In this setup, each `FoodClass` object can be accessed and referenced independently. By storing each `FoodClass` instance in a dictionary, it is possible to retrive an instance by its `id` or `parent_id` and performe recursive operations. Handling the hierarchy using a class-based structure makes it easier to add specific methods for navigation, comparison, or aggregation that might not be as straightforward with a flat `DataFrame`.
3. **Improved Code Clarity**: It helps prevent errors when accessing attributes because each instance has well-defined fields. With a DataFrame doesn‚Äôt technically restrict to a specific schema, making it more prone to errors if column names or types are misused.
4. **Flexibility**: The class structure provides higher flexibility if the `FoodClass` has to be extended with more complex logic or additional attributes. For example, if you need to include methods that calculate certain values or manage additional relationships, it‚Äôs easier to add them to the `FoodClass` than to a DataFrame.
5. **Optimisation for Large Datasets**: While `DataFrames` are optimised for vectorised operations, navigating a hierarchical structure within a `DataFrame` can be slower and clunky, particularly if recursive lookups are involved. Using a dictionary of `FoodClass` instances allows for fast, direct access to specific nodes, which can make recursive operations more efficient.

#### Example 1 - Retrive the Parent Class Dicitionary vs DataFrame
If you want to retrieve the parent class of a given food class, you can easily do this with a dictionary:

In [12]:
food_classes_example = {
    1: FoodClass(id=1, name='Grains', impact=2.5, parent_id=None),
    2: FoodClass(id=2, name='Rice', impact=None, parent_id=1),
    3: FoodClass(id=3, name='Wheat', impact=1.5, parent_id=1),
    4: FoodClass(id=4, name='White Rice', impact=3.0, parent_id=2)
}

def get_parent(food_class_id):
    food_class = food_classes_example.get(food_class_id)
    if food_class:
        return food_classes_example.get(food_class.parent_id)

In [13]:
parent_class = get_parent(4)
if parent_class:
    print(f"Parent of White Rice is {parent_class.name}")
else:
    print("White Rice has no parent.")

Parent of White Rice is Rice

Now with a `DataFrame`:

In [15]:
data_example = {
    'ID': [1, 2, 3, 4],
    'Name': ['Grains', 'Rice', 'Wheat', 'White Rice'],
    'Impact': [2.5, None, 1.5, 3.0],
    'Parent ID': [None, 1, 1, 2]
}

df_example = pd.DataFrame(data_example)

def get_parent_row(food_class_id, df):
    # Get the parent ID for the specified food class
    parent_id = df.loc[df['ID'] == food_class_id, 'Parent ID'].values[0]
    
    # Retrieve the row where 'ID' matches the parent ID
    if pd.notna(parent_id):
        parent_row = df[df['ID'] == parent_id]
        return parent_row
    else:
       return None

In [16]:
parent_row = get_parent_row(4, df_example)
print(parent_row)

   ID  Name  Impact  Parent ID
1   2  Rice     NaN        1.0

#### Example 2 - Traverse Up the Hierarchy 
If you want to retrieve the entire chain of parent classes up to the root for a given food class, you can use a loop or recursive function.

In [17]:
def get_ancestor_chain(food_class_id):
    current_id = food_class_id
    ancestors = []
    
    while current_id is not None:
        parent = get_parent(current_id)
        if parent is not None:
            ancestors.append(parent.name)
            current_id = parent.id  # Move up to the next ancestor
        else:
            current_id = None  # Stop when there is no parent left    
    return ancestors

In [18]:
# Get the ancestor chain for "White Rice" (ID 4)
ancestors = get_ancestor_chain(4)
print("Ancestor chain for White Rice:", " -> ".join(ancestors))

Ancestor chain for White Rice: Rice -> Grains

Now with a `DataFrame`:

In [19]:
def get_ancestor_chain(food_class_id, df):
    current_id = food_class_id
    ancestors = []
    
    while current_id is not None:
        parent_row = get_parent_row(current_id, df)
        
        if parent_row is not None and not parent_row.empty:
            parent_name = parent_row['Name'].values[0]
            ancestors.append(parent_name)
            current_id = parent_row['ID'].values[0]  # Move to the next ancestor ID
        else:
            current_id = None  # Stop when there is no parent left
    return ancestors

In [20]:
# Example: Get the ancestor chain for White Rice (ID 4)
ancestors = get_ancestor_chain(4, df_example)
print("Ancestor chain for White Rice:", " -> ".join(ancestors))

Ancestor chain for White Rice: Rice -> Grains

#### Example 3 - New Instance in the Dictionary
To add a new food class to the existing hierarchy it can be done by creating a new instance of `FoodClass` and then add it to the `food_classes` dictionary with a unique ID.

In [21]:
new_food_class_id = 72
new_food_class_name = "Orange"
new_food_class_impact = 0.3  
new_food_class_parent_id = 1 

# Create a new FoodClass instance
new_food_class = FoodClass(new_food_class_id, new_food_class_name, new_food_class_impact, new_food_class_parent_id)

# Add it to the food_classes dictionary
food_classes[new_food_class_id] = new_food_class

# Verify the new class was added
print(f"Added new food class: ID = {new_food_class.id}, Name = {new_food_class.name}, "
      f"Impact = {new_food_class.impact}, Parent ID = {new_food_class.parent_id}")

# Display the updated food_classes dictionary
print("\nUpdated Food Class Hierarchy:")
for class_id, food_class in food_classes.items():
    print(f"ID: {food_class.id}, Name: {food_class.name}, Impact: {food_class.impact}, Parent ID: {food_class.parent_id}")

Added new food class: ID = 72, Name = Orange, Impact = 0.3, Parent ID = 1

Updated Food Class Hierarchy:
ID: 1, Name: Beef Mince, Impact: nan, Parent ID: 2.0
ID: 2, Name: Beef, Impact: 2.649402237, Parent ID: 3.0
ID: 3, Name: Ruminant Meat, Impact: 5.508225903, Parent ID: 4.0
ID: 4, Name: Meat, Impact: 1.310413655, Parent ID: nan
ID: 5, Name: Pork Mince, Impact: nan, Parent ID: 6.0
ID: 6, Name: Pork, Impact: nan, Parent ID: 7.0
ID: 7, Name: Pork & Poultry, Impact: 4.548881992, Parent ID: 4.0
ID: 8, Name: Carrots, Impact: 9.811717734, Parent ID: 9.0
ID: 9, Name: Root Vegetables, Impact: 7.781639031, Parent ID: 10.0
ID: 10, Name: Vegetables, Impact: 3.161091821, Parent ID: nan
ID: 11, Name: Onions, Impact: 9.000471107, Parent ID: 12.0
ID: 12, Name: Onions and Leeks, Impact: 4.764500409, Parent ID: 13.0
ID: 13, Name: Bulbs, Impact: 7.706728936, Parent ID: 10.0
ID: 14, Name: Celery, Impact: 0.2183862344, Parent ID: 15.0
ID: 15, Name: Stem Vegetables, Impact: 5.441168674, Parent ID: 10.0
ID: 16, Name: Garlic, Impact: 4.436081072, Parent ID: 13.0
ID: 17, Name: Rosemary, Impact: nan, Parent ID: 18.0
ID: 18, Name: Herbs, Impact: 2.102187648, Parent ID: 19.0
ID: 19, Name: Leaves, Impact: 4.161051102, Parent ID: 10.0
ID: 20, Name: Olive Oil, Impact: 8.084466052, Parent ID: 21.0
ID: 21, Name: Oils, Impact: nan, Parent ID: nan
ID: 22, Name: Plum Tomatoes, Impact: nan, Parent ID: 23.0
ID: 23, Name: Tomatoes, Impact: 1.048766001, Parent ID: 24.0
ID: 24, Name: Fruit Vegetables, Impact: 2.404733034, Parent ID: 10.0
ID: 25, Name: Water, Impact: 4.992903259, Parent ID: 29.0
ID: 26, Name: Red Wine, Impact: nan, Parent ID: 27.0
ID: 27, Name: Wine, Impact: 7.828728036, Parent ID: 28.0
ID: 28, Name: Alcoholic Drinks, Impact: 0.9766256099, Parent ID: 29.0
ID: 29, Name: Drinks, Impact: 0.2700475962, Parent ID: nan
ID: 30, Name: Spaghetti, Impact: nan, Parent ID: 31.0
ID: 31, Name: Pasta, Impact: nan, Parent ID: 32.0
ID: 32, Name: Pasta and Noodles, Impact: 7.57055912, Parent ID: 33.0
ID: 33, Name: Prepared Meals, Impact: nan, Parent ID: nan
ID: 34, Name: Chickpeas, Impact: 9.761070306, Parent ID: 35.0
ID: 35, Name: Pulses, Impact: 2.20917018, Parent ID: 36.0
ID: 36, Name: Legumes, Impact: 0.5138533765, Parent ID: 10.0
ID: 37, Name: Coriander, Impact: 5.966025323, Parent ID: 18.0
ID: 38, Name: Parsley, Impact: 0.9610959263, Parent ID: 18.0
ID: 39, Name: Red Onions, Impact: nan, Parent ID: 11.0
ID: 40, Name: Lemon Juice, Impact: nan, Parent ID: 41.0
ID: 41, Name: Lemons, Impact: 8.5744324, Parent ID: 42.0
ID: 42, Name: Citrus, Impact: 1.122107528, Parent ID: 43.0
ID: 43, Name: Fruit, Impact: 4.408172499, Parent ID: nan
ID: 44, Name: Harissa, Impact: nan, Parent ID: 45.0
ID: 45, Name: Spices, Impact: 3.882260797, Parent ID: 46.0
ID: 46, Name: Spices and Seasonings, Impact: nan, Parent ID: nan
ID: 47, Name: Double Cream, Impact: 1.29342412, Parent ID: 48.0
ID: 48, Name: Cream, Impact: 4.027040964, Parent ID: 49.0
ID: 49, Name: Dairy, Impact: nan, Parent ID: nan
ID: 50, Name: Mascarpone, Impact: 6.404843943, Parent ID: 51.0
ID: 51, Name: Cheese, Impact: 4.662044875, Parent ID: 49.0
ID: 52, Name: Marsala, Impact: 2.842286935, Parent ID: 53.0
ID: 53, Name: Spirits, Impact: nan, Parent ID: 28.0
ID: 54, Name: Golden Caster Sugar, Impact: nan, Parent ID: 55.0
ID: 55, Name: Caster Sugar, Impact: nan, Parent ID: 56.0
ID: 56, Name: Sugar, Impact: 4.546019718, Parent ID: 57.0
ID: 57, Name: Seasonings, Impact: nan, Parent ID: 46.0
ID: 58, Name: Coffee Granules, Impact: nan, Parent ID: 59.0
ID: 59, Name: Coffee, Impact: 4.910862654, Parent ID: 60.0
ID: 60, Name: Hot Drinks, Impact: nan, Parent ID: 29.0
ID: 61, Name: Lady Fingers, Impact: nan, Parent ID: 62.0
ID: 62, Name: Biscuits, Impact: nan, Parent ID: 63.0
ID: 63, Name: Snacks, Impact: 2.496939229, Parent ID: nan
ID: 64, Name: Dark Chocolate, Impact: 7.423826904, Parent ID: 65.0
ID: 65, Name: Chocolate, Impact: 8.34796857, Parent ID: 66.0
ID: 66, Name: Bars, Impact: nan, Parent ID: 63.0
ID: 67, Name: Cocoa Powder, Impact: nan, Parent ID: 68.0
ID: 68, Name: Cocoa Beans, Impact: 2.958116399, Parent ID: 69.0
ID: 69, Name: Seeds, Impact: 0.5706210838, Parent ID: 70.0
ID: 70, Name: Nuts and Seeds, Impact: 3.171540022, Parent ID: nan
ID: 71, Name: Tinned Plum Tomatoes, Impact: nan, Parent ID: 22.0
ID: 72, Name: Orange, Impact: 0.3, Parent ID: 1

## Step 4: Recursive Impact Retrival
The `get_impact` function is the key to finding the CO2 impact of a given food class. Here's how it works:
1. Checck if the requested food class ID is in the `food_classes` dictionary.
2. If the class has a defined `impact` (i.e., it's not `NaN`), the function returns the impact.
3. If the class doesn't have an impact but has a `parent_id` the cunction calls itself recursively with the parent's ID.

This recursion continues until one of two conditions is met:
- An impact value is found and returned
- The recursion reaches a root node (a food class with no parent) that has no impact. If this happens, a `ValueError` is raised, indicating that the impact could not be determined for the ingredient

In [22]:
def get_impact(food_class_id: int) -> float:
    food_class = food_classes.get(food_class_id)
    if not food_class:
        raise ValueError(f"No food class found for ID {food_class_id}")
    if not pd.isna(food_class.impact):
        return food_class.impact
    if pd.isna(food_class.parent_id):
        raise ValueError(f"No impact available and no parent to recurse for {food_class.name}")
    return get_impact(food_class.parent_id)

Example of using the function with different food class IDs.

In [23]:
test_ids = [2, 17, 32, 70] 

for food_class_id in test_ids:
    try:
        impact = get_impact(food_class_id)
        print(f"Food Class ID {food_class_id}: Impact = {impact} kg CO2")
    except ValueError as e:
        print(f"Food Class ID {food_class_id}: {e}")

Food Class ID 2: Impact = 2.649402237 kg CO2
Food Class ID 43: Impact = 4.408172499 kg CO2
Food Class ID 32: Impact = 7.57055912 kg CO2

## Step 5: Recipe Calculator
The next function calculates the total CO‚ÇÇ impact of a recipe by summing the impacts of its ingredients.
- **`recipe.iterrows()`**: Iterates over each row in the recipe DataFrame.
- **Ingredient Matching**: Normalises the ingredient‚Äôs name, then searches for a matching food class name within `food_classes`.
- **Impact Calculation**: Uses the `get_impact` function to find the CO‚ÇÇ impact of the ingredient‚Äôs food class, then multiplies it by the ingredient‚Äôs weight and accumulates it in `total_impact`.
- **Error Handling**: If an ingredient is not found or impact cannot be calculated, the function prints an error message and returns `None`.

In [26]:
def calculate_recipe_impact(recipe: pd.DataFrame) -> float:
    total_impact = 0
    matched_classes = []
    for _, ingredient in recipe.iterrows():
        ingredient_name = normalize_name(ingredient['Ingredient Name'])
        matched_class = next(
            (fc for fc in food_classes.values() if normalize_name(fc.name) == ingredient_name), None)
        if not matched_class:
            print(f"Recipe ID {recipe_id} - {recipe_name}: Ingredient '{ingredient_name}' not found.")
            return None
        # Store the matched class for visualization
        matched_classes.append((ingredient_name, matched_class.name))
        try:
            impact = get_impact(matched_class.id)
            total_impact += impact * ingredient['Ingredient Weight / kg']
        except ValueError as e:
            print(e)
            return None
    matched_df = pd.DataFrame(matched_classes)
    display(matched_df)
    return total_impact

In [27]:
for recipe_id, recipe_data in recipes_df.groupby('Recipe ID'):
    recipe_name = recipe_data['Recipe Name'].iloc[0]  # Get the recipe name
    impact = calculate_recipe_impact(recipe_data)
    if impact is not None:
        print(f"Recipe ID {recipe_id} - {recipe_name}: Total Impact = {impact} kg CO2")

                       0                     1
0             beef mince            Beef Mince
1             mince pork            Pork Mince
2                carrots               Carrots
3                 onions                Onions
4                 celery                Celery
5                 garlic                Garlic
6               rosemary              Rosemary
7              oil olive             Olive Oil
8   plum tinned tomatoes  Tinned Plum Tomatoes
9                  water                 Water
10              red wine              Red Wine
11             spaghetti             Spaghetti

Recipe ID 1 - Spaghetti Bolognese: Total Impact = 13.989865665656001 kg CO2

                     0                    1
0         cream double         Double Cream
1           mascarpone           Mascarpone
2              marsala              Marsala
3  caster golden sugar  Golden Caster Sugar
4      coffee granules      Coffee Granules
5                water                Water
6         fingers lady         Lady Fingers
7       chocolate dark       Dark Chocolate
8         cocoa powder         Cocoa Powder

Recipe ID 2 - Tiramisu: Total Impact = 4.8948132164 kg CO2

             0            1
0    chickpeas    Chickpeas
1    coriander    Coriander
2      parsley      Parsley
3   onions red   Red Onions
4     tomatoes     Tomatoes
5    oil olive    Olive Oil
6  juice lemon  Lemon Juice
7      harissa      Harissa

Recipe ID 3 - Chickpea Salad: Total Impact = 11.188634844578 kg CO2
Recipe ID 4 - Salted Caramel Ice Cream: Ingredient 'gum xanthum' not found.

#### Final Function

In [35]:
def calculate_recipe_impact_2(recipe: pd.DataFrame) -> float:
    total_impact = 0
    for _, ingredient in recipe.iterrows():
        ingredient_name = normalize_name(ingredient['Ingredient Name'])
        matched_class = next(
            (fc for fc in food_classes.values() if normalize_name(fc.name) == ingredient_name), None)
        if not matched_class:
            print(f"Ingredient '{ingredient_name}' not found.")
            return None
        try:
            impact = get_impact(matched_class.id)
            total_impact += impact * ingredient['Ingredient Weight / kg']
        except ValueError as e:
            print(e)
            return None
    return total_impact

In [37]:
for recipe_id, recipe_data in recipes_df_dummy.groupby('Recipe ID'):
    recipe_name = recipe_data['Recipe Name'].iloc[0]  # Get the recipe name
    impact = calculate_recipe_impact_2(recipe_data)
    if impact is not None:
        print(f"Recipe ID {recipe_id} - {recipe_name}: Total Impact = {impact} kg CO2")

Recipe ID 1 - Spaghetti Bolognese: Total Impact = 13.989865665656001 kg CO2
Recipe ID 2 - Tiramisu: Total Impact = 4.8948132164 kg CO2
Recipe ID 3 - Chickpea Salad: Total Impact = 11.188634844578 kg CO2
Ingredient 'gum xanthum' not found.

#### Alernative method - Fuzzy matching
To find the closest match between the ingredient names in the recipes and the food class names, it is possible to use a string similarity library such as `fuzzywuzzy` for example. This library allows to measure how similar two strings are and can help identify the closest match even when the strings don't match exactly.

In [32]:
from fuzzywuzzy import process

In [33]:
def calculate_recipe_impact_3(recipe: pd.DataFrame) -> float:
    total_impact = 0
    matched_classes = []
    
    # Extract food class names for fuzzy matching
    food_class_names = [fc.name for fc in food_classes.values()]
    
    for _, ingredient in recipe.iterrows():
        ingredient_name = normalize_name(ingredient['Ingredient Name'])
        
        # Use fuzzy matching to find the closest food class name
        closest_match, score = process.extractOne(ingredient_name, food_class_names)
        
        # Define a threshold for the match score
        if score < 80:  # You can adjust this threshold
            print(f"Ingredient '{ingredient_name}' not closely matched to any food class.")
            continue
        
        matched_class = next(fc for fc in food_classes.values() if fc.name == closest_match)
        matched_classes.append({"Ingredient Name": ingredient_name, "Matched Food Class": matched_class.name})
        
        try:
            impact = get_impact(matched_class.id)
            total_impact += impact * ingredient['Ingredient Weight / kg']
        except ValueError as e:
            print(e)
            return None
    
    matched_df = pd.DataFrame(matched_classes)
    print("Matched Ingredient Names and Food Class Names:")
    display(matched_df)
    
    return total_impact

In [34]:
for recipe_id, recipe_data in recipes_df_dummy.groupby('Recipe ID'):
    recipe_name = recipe_data['Recipe Name'].iloc[0]  # Get the recipe name
    impact = calculate_recipe_impact_3(recipe_data)
    if impact is not None:
        print(f"Recipe ID {recipe_id} - {recipe_name}: Total Impact = {impact} kg CO2")

Matched Ingredient Names and Food Class Names:

         Ingredient Name    Matched Food Class
0             beef mince            Beef Mince
1             mince pork            Pork Mince
2                carrots               Carrots
3                 onions                Onions
4                 celery                Celery
5                 garlic                Garlic
6               rosemary              Rosemary
7              oil olive             Olive Oil
8   plum tinned tomatoes  Tinned Plum Tomatoes
9                  water                 Water
10              red wine              Red Wine
11             spaghetti             Spaghetti

Recipe ID 1 - Spaghetti Bolognese: Total Impact = 13.989865665656001 kg CO2
Matched Ingredient Names and Food Class Names:

       Ingredient Name   Matched Food Class
0         cream double         Double Cream
1           mascarpone           Mascarpone
2              marsala              Marsala
3  caster golden sugar  Golden Caster Sugar
4      coffee granules      Coffee Granules
5                water                Water
6         fingers lady         Lady Fingers
7       chocolate dark       Dark Chocolate
8         cocoa powder         Cocoa Powder

Recipe ID 2 - Tiramisu: Total Impact = 4.8948132164 kg CO2
Matched Ingredient Names and Food Class Names:

  Ingredient Name Matched Food Class
0       chickpeas          Chickpeas
1       coriander          Coriander
2         parsley            Parsley
3      onions red         Red Onions
4        tomatoes           Tomatoes
5       oil olive          Olive Oil
6     juice lemon        Lemon Juice
7         harissa            Harissa

Recipe ID 3 - Chickpea Salad: Total Impact = 11.188634844578 kg CO2
Ingredient 'gum xanthum' not closely matched to any food class.
Ingredient 'milk powder' not closely matched to any food class.
Matched Ingredient Names and Food Class Names:

  Ingredient Name Matched Food Class
0    cream double       Double Cream
1    caster sugar       Caster Sugar

Recipe ID 4 - Salted Caramel Ice Cream: Total Impact = 0.8426292078000001 kg CO2

# Process Impact Streamlit App
The Python file `process_impact.py` was used as custom module to run a Streamlit app for better data and results visualisation. Here is the code step-by-step.

## Step 0: Import Modules
- **`streamlit`**: A Python library that allows you to build interactive web applications for data science and machine learning projects.
- **`pandas`**: A data manipulation library that helps in reading, analyzing, and manipulating data stored in tables.
- **`os`**: Provides operating system-dependent functions, which are used here to navigate file paths.
- **`from process_impact import *`**: Imports all functions and classes from the custom `process_impact` module, which should contain the data-loading and impact-calculation functions.

In [ ]:
import streamlit as st
import pandas as pd
import os
from process_impact import *

## Step 1: Load Data

In [ ]:
current_dir = os.path.dirname(__file__)
food_classes_df = pd.read_csv(os.path.join(current_dir, 'food_classes.csv'))
recipes_df = pd.read_csv(os.path.join(current_dir, 'recipes.csv'))

##  Step 2: Streamlit UI Setup
The title and purpose of the app are display first.

In [ ]:
st.title("Recipe Impact Calculator")
st.write("This app allows the user to preview the recipes data and to calculate recipe impacts by clicking the button below.")

## Step 3: Display the Recipes Data
The first five rows of the recipes data were retrived and displayed using `st.write()`. Only the recipes data were shown assuming a user is not interested in seeing the food classes.

In [ ]:
st.header("Recipes Data")
st.write("Below is a preview of the recipes data:")
st.write(recipes_df.head())  # Show the head of recipes da

## Step 4: Calculate Recipe Impacts with Button Interaction
- **`st.button()`**: Creates a button that users can click to trigger the calculation.
- **If the button is clicked**:
    - `st.header()`: Displays a new section header for the results.
    - **Try-Except Block**: Handles errors that might occur during the calculation process.
        - `impacts = {}`: Initializes an empty dictionary to store the impact results for each recipe.
        - `recipes_df.groupby('Recipe ID')`: Groups the `recipes_df` DataFrame by `Recipe ID`, allowing calculations on each unique recipe.
        - **Loop**:
            - Retrieves the name of each recipe.
            - Calls `calculate_recipe_impact(recipe_data)` to calculate the CO‚ÇÇ impact based on the recipe data, which is likely implemented in `process_impact`.
            - If a valid impact is calculated, the result is stored in the `impacts` dictionary.
    - **Display Results**:
        - Loops over `impacts` and prints the recipe ID, name, and total impact on the app using `st.write()`.
- **Error Handling**: If an error occurs, `st.error()` displays the error message on the page.

In [ ]:
if st.button("Calculate Recipe Impacts"):
    st.header("Recipe Impact Results")

    # Process each recipe and calculate impact
    try:
        impacts = {}
        for recipe_id, recipe_data in recipes_df.groupby('Recipe ID'):
            recipe_name = recipe_data['Recipe Name'].iloc[0]
            impact = calculate_recipe_impact(recipe_data)  # Make sure this function is defined
            if impact is not None:
                impacts[recipe_id] = (recipe_name, impact)

        for recipe_id, (recipe_name, impact) in impacts.items():
            st.write(f"Recipe ID {recipe_id} - {recipe_name}: Total Impact = {impact:.2f} kg CO2")
    except Exception as e:
        st.error(f"Error: {e}")